@using mitt_news.Models.ViewModels;
@model AdvertisementViewModel;

<h1>Advertisement Succesfully Created</h1>

<h2>@Model.Title</h2>
<h2>@Model.Company</h2>
<h2>@Model.Description</h2>
<h2>@Model.ContactName</h2>
<h2>@Model.ContactNumber</h2>
<h2>@Model.Category</h2>
<h2>@Model.FrequencyPerHour</h2>
