@using mitt_news.Models.ViewModels
@model AdvertisementViewModel

<h1>@Model.Title</h1>

<p>@Model.Company</p>

<p>@Model.Description</p>

<p>@Model.Category</p>

<p>@Model.ContactName</p>

<p>@Model.ContactNumber</p>

<p>@Model.FrequencyPerHour</p>
